 body {
    margin-left: 250px;
    background-color: aqua;

 }
 #main {
    padding: 50px;
    /* display: inline; */
    height: 250px;
    width: 370px;
    background-image: url(OGC.gif);
    background-size: cover;
    border: 10px dotted red;
    border-radius: 180px;
     /* border: 2px solid red; */
}

img {
   
}

#note {
    font-size: larger;
    font-style: italic;
}

#yes {
    background-color:  rgb(62, 197, 62);
    border-radius: 10px;
}

.button {
    border-radius: 10px;
    background-color: rgb(231, 63, 63);
}

#no2 {
    margin-top: 10px;
    display: none;
}